/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei|Quicksand|Poiret+One|Coming+Soon&display=swap');

HTML, body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #ededed;
}