mat-card {
    margin: 10px 0 0 10%;
    width: 60%;
}

.order-element {
    margin-left: 10px;
    margin-right: 10px;
}

.fas {
    position: absolute;
    right: 48px;
}
.fa-trash-alt {
    position: absolute;
    right: 20px;
}

.new-order {
    margin-top: 30px;
    margin-left: 12%;
}

.logout {
    position: absolute;
    top: 5px; 
    right: 5px;
}