mat-card {
    margin: 10px 0 0 10%;
    width: 80%;
}

.order-element {
    margin-left: 10px;
    margin-right: 10px;
}

.accept-card {
    margin: 10px 0 0 10%;
    width: 50%;
    height: 30px;
    color: white;
    position: absolute; 
    left: 20%;
    top: 50%;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: green;

}