<nav> 
  <div class="flag"></div>
  <button mat-button color="primary" routerLink="login">Logowanie</button>
  <button mat-button color="primary" routerLink="register">Rejestracja</button>
</nav>
<div class="title-container">
  <div class="image-background">
    <header>
      
        <h1>Inwentaryzacje z jakością.</h1>
        <h2>Znajdź pracę dorywczą już dziś!</h2>
        <div class="line"></div>
        <button class="login" routerLink="login">Zaloguj się</button>
      
    </header>
  </div>
</div>
<section class="page-description">
  <div class="flex-container">
    <h2>Szukasz pracowników?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vitae, 
      a fugit quisquam quasi molestiae voluptas earum quia voluptates! Veritatis dolorem natus ullam 
      laborum? Provident reiciendis neque voluptas impedit perspiciatis.</p>
  </div>
  <div class="flex-container">
    <h2>Szukasz pracy dorywczej?</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati omnis,
       voluptas beatae mollitia dignissimos pariatur atque esse culpa accusantium deleniti ratione, 
       officiis tenetur voluptatem cupiditate dolor natus deserunt, dolore explicabo.</p>
  </div>
</section>

<section class="benefits">
  <div class="single-benefit">
      <i class="fas fa-city"></i>
      <p>Różne miasta</p>
  </div>
  <div class="single-benefit">
    <div class="single-benefit">
      <i class="fas fa-coins"></i>
      <p>Tygodniowe wypłaty</p>
  </div>
  </div>
  <div class="single-benefit">
    <div class="single-benefit">
      <i class="fas fa-handshake"></i>
      <p>Umowa online</p>
    </div>
  </div>
  <div class="single-benefit">
    <div class="single-benefit">
      <i class="far fa-calendar-alt"></i>
      <p>Elastyczny grafik</p>
    </div>
  </div>
  <div class="single-benefit">
    <div class="single-benefit">
      <i class="fas fa-dollar-sign"></i>
      <p>Liczne premie</p>
    </div>
  </div>
</section>
<div style="height: 90vh;"> </div>